.grid-container
{
    display: grid;
    grid-template-areas: 
    'header header header header'
    'main main . section'
    'footer footer footer footer';
    background-color: blue;
    padding: 10px;
    grid-gap: 10px;
}
.item1
{
    grid-area: header;
    background-color: aqua;
}
.item2
{
    grid-area: main;
    background-color: red;
}
.item3
{
    grid-area: section;
    background-color: green;
}
.item4
{
    grid-area: footer;
    background-color: purple;
}
.grid-container > div 
{
   
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}