.grid-container
{
    display: grid;
    grid-template-areas: 
    'header header '
    'menu .'
    'main section'
    'footer footer';
    background-image: url(kepek/japan-bambo54to-forest1-2-e1467755640998.jpg);
    grid-gap: 20px 20px;
    grid-template-columns: 1.8fr 0.7fr;
    grid-template-rows: 0.4fr 0.4fr 3.3fr 0.4fr;
    padding: 15px;
}   
.item1
{
    grid-area: header;
    background-color: rgb(46, 124, 63);
    opacity: 0.7;
    position: relative;
}
.item2
{
    grid-area: menu;
    
}
.item3
{
    grid-area: main;
    background-color: rgb(113, 219, 122);
    
}
.item4
{
    grid-area: section;
    background-color: rgb(113, 219, 122);
}
.item5
{
    grid-area: footer;
    background-color: rgb(46, 124, 63);
    opacity: 0.7;
    position: relative;
}
.item2 
{
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    font-variant: small-caps;
    
}
.button
{
    border: none;
    padding: 15px 32px;
    font-size: 30px;
    text-decoration: none;
    float: left;
    background-color: rgb(96, 212, 96);
    opacity: 0.9;
}
.button:hover
{
    transition-duration: 0.4s;
    border: 1px solid white;
}
h1
{
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
}
a
{
    text-decoration: none;
    font-size: small;
    font-size: 16px;
    font-variant: small-caps;

}
li
{
    font-size: 40px;
    font-variant: small-caps;
    text-decoration: none;
}
h2
{
    font-variant: small-caps;
}
p
{
    font-variant: small-caps;
}
