.grid-container
{
    display: grid;
    grid-template-areas: 
    'header header header header'
    'header header header header'
    'main main . section'
    'footer footer footer footer';
    background-image: url(japan-bambo54to-forest1-2-e1467755640998.jpg);
    padding: 10px;
    grid-gap: 10px;
}
.item1
{
    grid-area: header;
    background-color: aqua;
   
}
.item2
{
    grid-area: main;
    background-color: red;
}
.item3
{
    grid-area: section;
    background-color: green;
}
.item4
{
    grid-area: footer;
    background-color: purple;
}
.grid-container > div 
{
   
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.button:hover
{
    background-color: black;
    color: green;
    transition-duration: 0.5s;
    box-shadow: 2px 2px black ;
}